.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 75%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-raised-button
{
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}