<p>Do you want to compare your score with your colleagues and see who is in top 5 ranking by this Quiz
    knowledge? Register now and compare your results with others!</p>
<br>
<div class="container">
    <mat-form-field>
        <input matInput placeholder="Enter your name" [formControl]="name" required>
        <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" [disabled]="!name.valid">Submit and compare
        results!</button>
</div>