/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~highlight.js/styles/github.css';

p{
    font-family: "Lucida Console", Monaco, monospace;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
}